In [ ]:
import pandas as pd
from comutils import walk_with_depth
df=pd.read_csv("S:/sites.csv")

In [16]:
import re
import pandas as pd

# import comutils.get_main_domain_name_from_str
from comutils import get_main_domain_name_from_str

DESKTOP = r"C:/Users/Administrator/Desktop"
# 采用table.conf中的第一列数据作为要配置的域名

CF_DOMAINS_TABLE = f"{DESKTOP}/table.conf"


with open(CF_DOMAINS_TABLE, "r", encoding="utf-8") as f:
    lines = f.readlines()
    domains=[]
    for line in lines:
        # line.split(" ")
        # 数量不定的空白作为分隔符
        parts = re.split(r"\s+", line)
        domain = parts[0]
        domain = get_main_domain_name_from_str(domain)
        domains.append(domain)
        # print(parts)
        # print(domain)
    df=pd.DataFrame({"domain":domains})
df

                 domain
0      skisurfskate.com
1      rarefigurine.com
2  animecollectshop.com

In [ ]:
df['domain'].str.strip().dropna()

0        skisurfskate.
1        rarefigurine.
2    animecollectshop.
Name: domain, dtype: object

In [20]:
df

                 domain
0      skisurfskate.com
1      rarefigurine.com
2  animecollectshop.com

In [21]:
df[[True,False,True]]

                 domain
0      skisurfskate.com
2  animecollectshop.com

In [22]:
df

                 domain
0      skisurfskate.com
1      rarefigurine.com
2  animecollectshop.com

In [24]:
all_columns = ["domain", "ip", "forward", "security", "ssl", "Note"]
df = pd.DataFrame({"domain": domains}, columns=all_columns)

In [25]:
df

                 domain   ip forward security  ssl Note
0      skisurfskate.com  NaN     NaN      NaN  NaN  NaN
1      rarefigurine.com  NaN     NaN      NaN  NaN  NaN
2  animecollectshop.com  NaN     NaN      NaN  NaN  NaN

In [31]:
for _,item in df.iterrows():
    print(item)
    # print(type(item))

domain      skisurfskate.com
ip                       NaN
forward                  NaN
security                 NaN
ssl                      NaN
Note                     NaN
Name: 0, dtype: object
domain      rarefigurine.com
ip                       NaN
forward                  NaN
security                 NaN
ssl                      NaN
Note                     NaN
Name: 1, dtype: object
domain      animecollectshop.com
ip                           NaN
forward                      NaN
security                     NaN
ssl                          NaN
Note                         NaN
Name: 2, dtype: object