## åˆ›å»ºæ•°æ®åº“é“¾æ¥

In [1]:
import sqlite3
# é“¾æ¥åˆ°tutorial.dbæ•°æ®åº“(ä¸å­˜åœ¨æ—¶è‡ªåŠ¨åˆ›å»ºåŒåç©ºæ•°æ®åº“)
con = sqlite3.connect("tutorial.db")

## è·å–æ•°æ®åº“è¿æ¥å¯¹è±¡çš„æ¸¸æ ‡cursor
è¿™ä¸ªæ­¥éª¤é€šå¸¸å¯ä»¥çœç•¥,sqlite3åº“æ³¨æ„åˆ°ä»é“¾æ¥å¯¹è±¡è°ƒç”¨.cursor()çš„æ“ä½œæ¯”è¾ƒå›ºå®š,æ‰€ä»¥é’ˆå¯¹cursorè°ƒç”¨çš„æ–¹æ³•ä¸€èˆ¬éƒ½å¯ä»¥ç›´æ¥å¯¹è¿æ¥å¯¹è±¡conç­‰æ•ˆåœ°ç›´æ¥è°ƒç”¨
äº‹å®ä¸Š,è¢«çœç•¥çš„åˆ›å»ºcursorçš„è¿™ä¸ªè¿‡ç¨‹è¢«éšå¼çš„è‡ªåŠ¨æ‰§è¡Œ,ä»æ–¹ä¾¿ç”¨æˆ·çš„ä½¿ç”¨

> ç„¶è€Œconnection.close()æ–¹æ³•æ€»æ˜¯åº”è¯¥åœ¨æ•°æ®åº“æ“ä½œç»“æŸåæ‰‹åŠ¨è°ƒç”¨,è¿™ä¸ªæ“ä½œä¸ä¼šè¢«è‡ªåŠ¨æ‰§è¡Œ,å³ä¾¿ä½¿ç”¨ä¸Šä¸‹æ–‡ç®¡ç†å™¨withè¯­å¥ä¹Ÿä¸ä¾‹å¤–

In [ ]:
#è·å–cursor(é€šå¸¸å¯ä»¥çœç•¥)
cur = con.cursor()

## æ•°æ®åº“äº‹åŠ¡
ä»€ä¹ˆæ˜¯æ•°æ®åº“äº‹åŠ¡ï¼Ÿ
æ•°æ®åº“äº‹åŠ¡ï¼ˆTransactionï¼‰ æ˜¯è®¿é—®å’Œæ›´æ–°æ•°æ®åº“çš„ä¸€ä¸ªé€»è¾‘å•å…ƒï¼Œå®ƒåŒ…å«ä¸€ä¸ªæˆ–å¤šä¸ªæ•°æ®åº“æ“ä½œï¼ˆå¦‚æ’å…¥ã€æ›´æ–°ã€åˆ é™¤ï¼‰ï¼Œè¿™äº›æ“ä½œè¦ä¹ˆå…¨éƒ¨æˆåŠŸæ‰§è¡Œ ï¼Œè¦ä¹ˆå…¨éƒ¨å¤±è´¥å›æ»š ï¼Œå³â€œè¦ä¹ˆå…¨åšï¼Œè¦ä¹ˆä¸åš â€ã€‚

æ•°æ®åº“äº‹åŠ¡çš„å››å¤§ç‰¹æ€§ï¼šåŸå­æ€§ï¼ˆAtomicityï¼‰ã€ä¸€è‡´æ€§ï¼ˆConsistencyï¼‰ã€éš”ç¦»æ€§ï¼ˆIsolationï¼‰ã€æŒä¹…æ€§ï¼ˆDurabilityï¼‰ã€‚

## æ‰§è¡Œæ•°æ®åº“è¯­å¥

In [3]:
# æ‰§è¡Œå»ºè¡¨è¯­å¥(movieè¡¨),åŒ…å«3ä¸ªå­—æ®µ(title, year, score)
cur.execute("CREATE TABLE movie(title, year, score)")

æˆ‘ä»¬å¯ä»¥é€šè¿‡æŸ¥è¯¢ SQLite å†…ç½®çš„ sqlite_matser è¡¨ä»¥éªŒè¯æ–°è¡¨æ˜¯å¦å·²ç»åˆ›å»ºï¼Œæœ¬ä¾‹ä¸­ï¼Œæ­¤æ—¶è¯¥è¡¨åº”è¯¥å·²ç»åŒ…æ‹¬äº†ä¸€æ¡ movie çš„è¡¨å®šä¹‰ï¼ˆæ›´å¤šå†…å®¹è¯·å‚è€ƒ The Schema Table ï¼‰ã€‚ä¸‹é¢çš„ä»£ç å°†é€šè¿‡è°ƒç”¨å‡½æ•° cur.excute(...) æ‰§è¡ŒæŸ¥è¯¢ï¼ŒæŠŠç»“æœèµ‹ç»™ res ï¼Œè€Œåè°ƒç”¨ res.fetchone() è·å–ç»“æœè¡Œ

In [ ]:
# é€šè¿‡æŸ¥è¯¢slite_masterä¸­çš„nameåˆ—çœ‹çœ‹æ­¤æ—¶æ•°æ®åº“æœ‰å¤šå°‘ä¸ªè¡¨
res_cur = cur.execute("SELECT name FROM sqlite_master")
# æŸ¥çœ‹ç¬¬ä¸€ä¸ªè¡¨
res_cur.fetchone()

# æŸ¥çœ‹æ‰€æœ‰è¡¨
# res.fetchall()

('movie',)


å¯ä»¥çœ‹åˆ°movieè¡¨è¢«åˆ›å»º(ä¸è¦è¿ç»­æ‰§è¡Œres.fetchone()å’Œres.fetchall())

In [ ]:
res_cur = cur.execute("SELECT name FROM sqlite_master")
res_cur.fetchall()

[('movie',)]

In [ ]:
# æŸ¥çœ‹sqlite_masteræ‰€æœ‰å­—æ®µ
res_cur=cur.execute("select * from sqlite_master")
res_cur.fetchall()

[('table', 'movie', 'movie', 2, 'CREATE TABLE movie(title, year, score)')]

In [ ]:
# æŸ¥çœ‹æŸä¸ªå°šä¸å­˜åœ¨è¡¨
res_cur = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res_cur.fetchone() is None

True

## æ’å…¥æ•°æ®
è¿™é‡Œä½¿ç”¨éšå¼å­—æ®µåŒ¹é…,ä»è€Œç®€å†™sql

æ­¤å¤–,INSERT è¯­å¥å°†éšå¼åœ°åˆ›å»ºä¸€ä¸ªäº‹åŠ¡ (transaction) ï¼Œäº‹åŠ¡éœ€è¦åœ¨å°†æ›´æ”¹ä¿å­˜åˆ°æ•°æ®åº“å‰æäº¤ï¼ˆæ›´å¤šç»†èŠ‚è¯·å‚è€ƒ äº‹åŠ¡æ§åˆ¶ ï¼‰ã€‚

æˆ‘ä»¬é€šè¿‡åœ¨ä¸€ä¸ªè¿æ¥å¯¹è±¡ï¼ˆæœ¬ä¾‹ä¸­ä¸º conï¼‰ä¸Šè°ƒç”¨ con.commit() æäº¤äº‹åŠ¡ï¼š

In [8]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [9]:
# ä»…ä»…æ‰§è¡Œexecuteè¯­å¥ï¼Œå¹¶æ²¡æœ‰å®é™…çš„æäº¤åˆ°æ•°æ®åº“ä¸­ï¼Œéœ€è¦è°ƒç”¨é“¾æ¥å¯¹è±¡conçš„commit()æ–¹æ³•æ‰ä¼šçœŸæ­£çš„æäº¤åˆ°æ•°æ®åº“ä¸­
con.commit()

In [ ]:
res_cur = cur.execute("SELECT score FROM movie")
res_cur.fetchall()

[(8.2,), (7.5,)]

ä¸Šé¢çš„ä»£ç ä¸­ï¼Œç»“æœæ˜¯ä¸€ä¸ªåŒ…å«äº†ä¸¤ä¸ªå…ƒç»„ (tuple) çš„åˆ—è¡¨ (list) ï¼Œå…¶ä¸­æ¯ä¸€ä¸ªå…ƒç»„ä»£è¡¨ä¸€ä¸ªæ•°æ®è¡Œï¼Œæ¯ä¸ªæ•°æ®è¡Œéƒ½åŒ…æ‹¬è¯¥è¡Œçš„ score å€¼ã€‚
ç°åœ¨ï¼Œè®©æˆ‘ä»¬è°ƒç”¨ cur.executemany(...) å†æ’å…¥ä¸‰è¡Œæ•°æ®

In [11]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data) # æ¯ä¸€ä¸ª?å·å ä½ç¬¦ä¼šå¯¹åº”dataåˆ—è¡¨(äºŒç»´ç»“æ„)ä¸­çš„ä¸€ä¸ªå…ƒç»„(å…ƒç´ çš„åˆ—å’Œmovieè¡¨çš„åˆ—å¯¹åº”),ä¸€ä¸ªå…ƒç»„è¡¨ç¤ºä¸€æ¡æ•°æ®è®°å½•è¡Œ
con.commit()  # è®°å¾—åœ¨æ‰§è¡Œ INSERT ä¹‹åæäº¤äº‹åŠ¡ã€‚

è¯·æ³¨æ„ï¼Œå ä½ç¬¦ (placeholders) ? æ˜¯ç”¨æ¥åœ¨æŸ¥è¯¢ä¸­ç»‘å®šæ•°æ® data çš„ã€‚åœ¨ç»‘å®š Python çš„å€¼åˆ° SQL è¯­å¥ä¸­æ—¶ï¼Œè¯·ä½¿ç”¨å ä½ç¬¦å–ä»£æ ¼å¼åŒ–å­—ç¬¦ä¸² (string formatting ) ä»¥é¿å… SQL æ³¨å…¥æ”»å‡» ï¼ˆæ›´å¤šç»†èŠ‚è¯·å‚è§ å¦‚ä½•åœ¨ SQL æŸ¥è¯¢ä¸­ä½¿ç”¨å ä½ç¬¦æ¥ç»‘å®šå€¼ ï¼‰ã€‚

åŒæ ·çš„ï¼Œæˆ‘ä»¬å¯ä»¥é€šè¿‡æ‰§è¡Œ SELECT æŸ¥è¯¢éªŒè¯æ–°çš„æ•°æ®è¡Œæ˜¯å¦å·²ç»æ’å…¥è¡¨ä¸­ï¼Œè¿™ä¸€æ¬¡æˆ‘ä»¬å°†è¿­ä»£æŸ¥è¯¢çš„ç»“æœï¼š

In [12]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")

å¦‚ä¸Šå¯è§ï¼Œæ¯ä¸€è¡Œéƒ½æ˜¯åŒ…æ‹¬ (year,title) è¿™ä¸¤ä¸ªå…ƒç´ çš„å…ƒç»„ (tuple ) ï¼Œå®ƒä¸æˆ‘ä»¬æŸ¥è¯¢ä¸­é€‰ä¸­çš„æ•°æ®åˆ—ç›¸åŒ¹é…ã€‚

## å°†æ•°æ®å†™å…¥ç£ç›˜æ–‡ä»¶ğŸˆ
æœ€åï¼Œè®©æˆ‘ä»¬å…ˆé€šè¿‡è°ƒç”¨ con.close() å…³é—­ç°å­˜çš„ä¸æ•°æ®åº“çš„è¿æ¥ï¼Œè€Œåæ‰“å¼€ä¸€ä¸ªæ–°çš„è¿æ¥ã€åˆ›å»ºä¸€ä¸ªæ–°çš„æ¸¸æ ‡ã€æ‰§è¡Œä¸€ä¸ªæ–°çš„æŸ¥è¯¢ä»¥éªŒè¯æˆ‘ä»¬æ˜¯å¦å°†æ•°æ®åº“å†™å…¥åˆ°äº†æœ¬åœ°ç£ç›˜ä¸Šï¼š

In [13]:
# å…³é—­æ­¤æ¬¡æ•°æ®åº“é“¾æ¥,å°†æ•°æ®æ›´æ”¹åº”ç”¨åˆ°dbæ–‡ä»¶ä¸­(åœ¨è°ƒç”¨con.closeä¹‹å‰,æ•°æ®å˜æ›´éƒ½æš‚å­˜åœ¨å†…å­˜ä¸­)
con.close()

In [ ]:
new_con = sqlite3.connect("tutorial.db")
new_cur = new_con.cursor()
res_cur = new_cur.execute("SELECT title, year FROM movie ORDER BY score DESC")
title, year = res_cur.fetchone()

print(f"The highest scoring Monty Python movie is {title!r}, released in {year}")
# {title!r} è¡¨ç¤ºå°†å˜é‡ title çš„å€¼ä»¥ repr() å½¢å¼æ’å…¥åˆ°å­—ç¬¦ä¸²ä¸­(å­—ç¬¦ä¸²titleä¼šå¸¦ä¸Šå¼•å·)ã€‚

new_con.close()

The highest scoring Monty Python movie is 'Monty Python and the Holy Grail', released in 1975

- é˜…è¯» [å¸¸ç”¨æ–¹æ¡ˆæŒ‡å¼•](https://docs.python.org/zh-cn/3.13/library/sqlite3.html#sqlite3-howtos) ä»¥è·å–æ›´å¤šä¿¡æ¯ï¼š
  - [å¦‚ä½•åœ¨ SQL æŸ¥è¯¢ä¸­ä½¿ç”¨å ä½ç¬¦æ¥ç»‘å®šå€¼](https://docs.python.org/zh-cn/3.13/library/sqlite3.html#sqlite3-placeholders)
  - [å¦‚ä½•å°†è‡ªå®šä¹‰ Python ç±»å‹é€‚é…åˆ° SQLite å€¼](https://docs.python.org/zh-cn/3.13/library/sqlite3.html#sqlite3-adapters)
  - [å¦‚ä½•å°† SQLite å€¼è½¬æ¢ä¸ºè‡ªå®šä¹‰ Python ç±»å‹](https://docs.python.org/zh-cn/3.13/library/sqlite3.html#sqlite3-converters)
  - [å¦‚ä½•ä½¿ç”¨è¿æ¥ä¸Šä¸‹æ–‡ç®¡ç†å™¨](https://docs.python.org/zh-cn/3.13/library/sqlite3.html#sqlite3-connection-context-manager)
  - [å¦‚ä½•åˆ›å»ºå¹¶ä½¿ç”¨è¡Œå·¥å‚å¯¹è±¡](https://docs.python.org/zh-cn/3.13/library/sqlite3.html#sqlite3-howto-row-factory)
- å‚é˜… [è¯´æ˜](https://docs.python.org/zh-cn/3.13/library/sqlite3.html#sqlite3-explanation) ä»¥è·å–å…³äºäº‹åŠ¡æ§åˆ¶çš„æ›´æ·±ä¸€æ­¥çš„èƒŒæ™¯ã€‚

## å¦‚ä½•åœ¨ SQL æŸ¥è¯¢ä¸­ä½¿ç”¨å ä½ç¬¦æ¥ç»‘å®šå€¼

SQL æ“ä½œé€šå¸¸ä¼šéœ€è¦ä½¿ç”¨æ¥è‡ª Python å˜é‡çš„å€¼ã€‚ ä¸è¿‡ï¼Œè¯·è°¨æ…ä½¿ç”¨ Python çš„å­—ç¬¦ä¸²æ“ä½œæ¥æ‹¼è£…æŸ¥è¯¢ï¼Œå› ä¸ºè¿™æ ·æ˜“å— SQL injection attacksã€‚ 
ä¾‹å¦‚ï¼Œæ”»å‡»è€…å¯ä»¥ç®€å•åœ°æ·»åŠ ç»“æŸå•å¼•å·å¹¶æ³¨å…¥ OR TRUE æ¥é€‰æ‹©æ‰€æœ‰çš„è¡Œ:

In [ ]:
# ç»ä¸è¦è¿™æ ·åš -- å¾ˆä¸å®‰å…¨ï¼
symbol = input()

sql = "SELECT * FROM stocks WHERE symbol = '%s'" % symbol
print(sql)

cur.execute(sql)

è¯·æ”¹ç”¨ DB-API çš„å½¢å‚æ›¿æ¢ã€‚ è¦å°†å˜é‡æ’å…¥åˆ°æŸ¥è¯¢å­—ç¬¦ä¸²ä¸­ï¼Œå¯åœ¨å­—ç¬¦ä¸²ä¸­ä½¿ç”¨å ä½ç¬¦ï¼Œå¹¶é€šè¿‡å°†å®é™…å€¼ä½œä¸ºæ¸¸æ ‡çš„ execute() æ–¹æ³•çš„ç¬¬äºŒä¸ªå‚æ•°ä»¥ç”±å¤šä¸ªå€¼ç»„æˆçš„ tuple å½¢å¼æä¾›ç»™æŸ¥è¯¢æ¥æ›¿æ¢å®ƒä»¬ã€‚

SQL è¯­å¥å¯ä»¥ä½¿ç”¨ä¸¤ç§å ä½ç¬¦ä¹‹ä¸€ï¼š
é—®å·å ä½ç¬¦ï¼ˆé—®å·é£æ ¼ï¼‰æˆ–å‘½åå ä½ç¬¦ï¼ˆå‘½åé£æ ¼ï¼‰ã€‚ 
1. å¯¹äºé—®å·é£æ ¼ï¼Œparameters è¦æ˜¯ä¸€ä¸ªé•¿åº¦å¿…é¡»ä¸å ä½ç¬¦çš„æ•°é‡ç›¸åŒ¹é…çš„ sequenceï¼Œå¦åˆ™å°†å¼•å‘ ProgrammingErrorã€‚ 
2. å¯¹äºå‘½åé£æ ¼ï¼Œparameters å¿…é¡»æ˜¯ dict ï¼ˆæˆ–å…¶å­ç±»ï¼‰çš„å®ä¾‹ï¼Œå®ƒå¿…é¡»åŒ…å«ä¸æ‰€æœ‰å‘½åå‚æ•°ç›¸å¯¹åº”çš„é”®ï¼›ä»»ä½•é¢å¤–çš„æ¡ç›®éƒ½å°†è¢«å¿½ç•¥ã€‚

ä¸‹é¢æ˜¯ä¸€ä¸ªåŒæ—¶ä½¿ç”¨è¿™ä¸¤ç§é£æ ¼çš„ç¤ºä¾‹ï¼š

In [ ]:
# åˆ›å»ºä¸€ä¸ªä¸´æ—¶çš„å†…å­˜ä¸­çš„æ•°æ®åº“æ¥æ¼”ç¤º
con = sqlite3.connect(":memory:")

cur = con.execute("CREATE TABLE lang(name, first_appeared)")

# 1.è¿™æ˜¯ç”¨äº executemany() çš„åç§°é£æ ¼ï¼š
data = (
    {"name": "C", "year": 1972},
    {"name": "Fortran", "year": 1957},
    {"name": "Python", "year": 1991},
    {"name": "Go", "year": 2009},
)
# å’Œdataä¸­å„æ¡è®°å½•å­—å…¸çš„å­—æ®µå(name,year)å¯¹åº”,è¿™é‡Œæ’å…¥çš„sqlæ¨¡æ¿ä¸­ä½¿ç”¨å¯¹åº”çš„åå­—,ä½†æ˜¯è¦åœ¨åå­—å‰è¿½åŠ `:`å·,æ¥è¡¨æ˜dataä¸­çš„è®°å½•æ˜¯å­—å…¸è€Œä¸æ˜¯å…ƒç»„
cur.executemany("INSERT INTO lang VALUES(:name, :year)", data)

# 2.è¿™æ˜¯ç”¨äº SELECT æŸ¥è¯¢çš„é—®å·é£æ ¼ï¼š
params = (1972,)
cur.execute("SELECT * FROM lang WHERE first_appeared = ?", params)
# è¿™é‡Œæˆ‘ä»¬éœ€è¦æŸ¥è¯¢æœ€æ—©å‡ºç°äº1972å¹´çš„å˜æˆè¯­è¨€,where first_appeared='1972',ç”¨æ›´åŠ çµæ´»çš„æ–¹å¼å°±æ˜¯ä¸Šé¢çš„è¿™ç§å ä½ç¬¦å½¢å¼,ä½†æ˜¯æ³¨æ„å‚æ•°æ˜¯å…ƒç»„,å³ä¾¿åªæœ‰ä¸€ä¸ªå…ƒç´ ,ä¹Ÿè¦åŒ…è£…æˆå…ƒç»„

# æŸ¥çœ‹æ“ä½œç»“æœ
print(cur.fetchall())
con.close()

[('C', 1972)]

## å¦‚ä½•ä½¿ç”¨è¿æ¥å¿«æ·æ–¹æ³•(çœç•¥cursorçš„åˆ›å»º)
é€šè¿‡ä½¿ç”¨ Connection ç±»çš„ execute(), executemany() ä¸ executescript() æ–¹æ³•ï¼Œæ‚¨å¯ä»¥**ç®€åŒ–æ‚¨çš„ä»£ç ï¼Œå› ä¸ºæ— éœ€å†æ˜¾å¼åˆ›å»º ï¼ˆé€šå¸¸æ˜¯å¤šä½™çš„ï¼‰ Cursor å¯¹è±¡**ã€‚
æ­¤æ—¶ `Cursor` å¯¹è±¡**ä¼šè¢«éšå¼åˆ›å»ºå¹¶ä¸”ç”±è¿™äº›å¿«æ·æ–¹æ³•è¿”å›**ã€‚
è¿™æ ·ä¸€æ¥ï¼Œæ‚¨ä»…éœ€åœ¨ Connection å¯¹è±¡ä¸Šè°ƒç”¨ä¸€æ¬¡æ–¹æ³•å°±å¯ä»¥æ‰§è¡Œ SELECT è¯­å¥ï¼Œå¹¶å¯¹å…¶è¿›è¡Œè¿­ä»£ã€‚

In [16]:
# åˆ›å»ºå¹¶å¡«å……è¡¨ã€‚
con = sqlite3.connect(":memory:")
con.execute("CREATE TABLE lang(name, first_appeared)")
data = [
    ("C++", 1985),
    ("Objective-C", 1984),
]
con.executemany("INSERT INTO lang(name, first_appeared) VALUES(?, ?)", data)

# æ‰“å°è¡¨å†…å®¹
for row in con.execute("SELECT name, first_appeared FROM lang"):
    print(row)

print("I just deleted", con.execute("DELETE FROM lang").rowcount, "rows")

# close() ä¸æ˜¯ä¸€ä¸ªå¿«æ·æ–¹æ³•ä¹Ÿä¸ä¼šè¢«è‡ªåŠ¨è°ƒç”¨ï¼›
# è¿æ¥å¯¹è±¡åº”å½“è¢«æ‰‹åŠ¨å…³é—­
con.close()

('C++', 1985)
('Objective-C', 1984)
I just deleted 2 rows

## å¦‚ä½•ä½¿ç”¨è¿æ¥ä¸Šä¸‹æ–‡ç®¡ç†å™¨(with)
Connection å¯¹è±¡å¯**è¢«ç”¨ä½œä¸Šä¸‹æ–‡ç®¡ç†å™¨**ä»¥ä¾¿åœ¨ç¦»å¼€ä¸Šä¸‹æ–‡ç®¡ç†å™¨**ä»£ç å—æ—¶è‡ªåŠ¨æäº¤æˆ–å›æ»šå¼€å¯çš„äº‹åŠ¡**ã€‚(ä½†æ˜¯è¿æ¥å¯¹è±¡å¹¶ä¸ä¼šè‡ªåŠ¨å…³é—­,ä»ç„¶éœ€è¦æ‰‹åŠ¨å…³é—­)
- å¦‚æœ with è¯­å¥ä½“æ— å¼‚å¸¸åœ°ç»“æŸï¼Œäº‹åŠ¡å°†è¢«æäº¤ã€‚ 
- å¦‚æœæäº¤å¤±è´¥ï¼Œæˆ–è€…å¦‚æœ with è¯­å¥ä½“å¼•å‘äº†æœªæ•è·çš„å¼‚å¸¸ï¼Œåˆ™äº‹åŠ¡å°†è¢«å›æ»šã€‚ å¦‚æœ autocommit ä¸º Falseï¼Œåˆ™ä¼šåœ¨æäº¤æˆ–å›æ»šåéšå¼åœ°å¼€å¯ä¸€ä¸ªæ–°äº‹åŠ¡ã€‚

å¦‚æœåœ¨ç¦»å¼€ with è¯­å¥ä½“æ—¶æ²¡æœ‰å¼€å¯çš„äº‹åŠ¡ï¼Œæˆ–è€…å¦‚æœ autocommit ä¸º Trueï¼Œåˆ™ä¸Šä¸‹æ–‡ç®¡ç†å™¨å°†ä¸åšä»»ä½•æ“ä½œã€‚
> ä¸Šä¸‹æ–‡ç®¡ç†å™¨æ—¢ä¸ä¼šéšå¼å¼€å¯æ–°äº‹åŠ¡ä¹Ÿä¸ä¼šå…³é—­è¿æ¥ã€‚ å¦‚æœä½ éœ€è¦å…³é—­ä¸Šä¸‹æ–‡ç®¡ç†å™¨ï¼Œè¯·è€ƒè™‘ä½¿ç”¨ contextlib.closing()ã€‚

In [ ]:
con = sqlite3.connect(":memory:")
con.execute("CREATE TABLE lang(id INTEGER PRIMARY KEY, name VARCHAR UNIQUE)")

# æ“ä½œ1:é€šå¸¸ä¼šæˆåŠŸï¼Œcon.commit() å°†åœ¨æ­¤åè¢«è‡ªåŠ¨è°ƒç”¨
with con:
    con.execute("INSERT INTO lang(name) VALUES(?)", ("Python",))

#æ“ä½œ2:ç”±äºä¸Šè¿°åˆ›å»ºè¡¨çš„è¯­å¥åˆ¶å®šäº†nameå¿…é¡»å”¯ä¸€,ä»è€Œä¸‹é¢çš„é‡å¤æ’å…¥å·²ç»å­˜åœ¨çš„å€¼ä¼šå¤±è´¥
# con.rollback() ä¼šåœ¨ with ä»£ç å—ç»“æŸæ—¶è¢«è‡ªåŠ¨è°ƒç”¨,å¹¶é™„å¸¦ä¸€ä¸ªå¼‚å¸¸ï¼›
# è¯¥å¼‚å¸¸ä»ä¼šè¢«å¼•å‘å¹¶ä¸”å¿…é¡»è¢«æ•è·
try:
    with con:
        con.execute("INSERT INTO lang(name) VALUES(?)", ("Python",))
except sqlite3.IntegrityError:
    print("couldn't add Python twice")

# è¢«ç”¨ä½œä¸Šä¸‹æ–‡ç®¡ç†å™¨çš„è¿æ¥å¯¹è±¡åªèƒ½[æäº¤æˆ–å›æ»š]äº‹åŠ¡ï¼Œ
# å› æ­¤è¿æ¥å¯¹è±¡å¿…é¡»è¢«æ‰‹åŠ¨å…³é—­
con.close()

couldn't add Python twice

In [20]:
con.close()

In [22]:
con.close()

In [23]:
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
cursor.close()
conn.close()

try:
    cursor.execute("SELECT 1")  # å·²å…³é—­ï¼Œåº”æŠ›å‡ºå¼‚å¸¸
except Exception as e:
    print("Cursor closed correctly:", e)

try:
    conn.cursor()  # å·²å…³é—­ï¼Œåº”æŠ›å‡ºå¼‚å¸¸
except Exception as e:
    print("Connection closed correctly:", e)

Cursor closed correctly: Cannot operate on a closed cursor.
Connection closed correctly: Cannot operate on a closed database.

In [5]:
import sqlite3
c=None
with sqlite3.connect(':memory:') as conn:
    c=conn.cursor()
    c.execute("CREATE TABLE users (id INTEGER PRIMARY KEY, name TEXT, email TEXT)")
    c.execute("INSERT INTO users (name, email) VALUES ('John', 'john@example.com')")

# conn.close()

In [6]:
conn.cursor()

In [7]:
conn.close()

In [14]:
import sqlite3

with sqlite3.connect("example.db") as conn:
    res_cur = conn.execute("SELECT * FROM users")  # å‡è®¾æœ‰ä¸€ä¸ªusersè¡¨
    rows = res_cur.fetchall()
    for row in rows:
        print(row)

# conn.close()

(1, 'Alice')
(2, 'Bob')
(3, 'Charlie')
(4, 'David')
(5, 'Eve')

In [ ]:
conn.cursor() #å¦‚æœæˆåŠŸè¿”å›å¯¹è±¡,è¯´æ˜å‰é¢åˆ›å»ºçš„è¿æ¥å¯¹è±¡æ²¡æœ‰è¢«å…³é—­,éœ€è¦æ‰‹åŠ¨å…³é—­

In [16]:
conn.close()

In [20]:
try:
    c=conn.cursor()
    print("connæ²¡æœ‰è¢«å…³é—­",c)
except Exception as e:
    print("connå·²è¢«å…³é—­")

connå·²è¢«å…³é—­